In [1]:
import warnings

import pandas as pd

In [2]:
warnings.simplefilter("ignore")

In [3]:
%load_ext google.cloud.bigquery

In [4]:
%%bigquery --use_rest_api --project customer-transaction-analysis
SELECT * FROM `customer-transaction-analysis.customer_data.transactions`
LIMIT 5;

Query is running:   0%|          |

Downloading:   0%|          |

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate
0,TX000006,AC00393,92.15,2023-04-03 17:15:00+00:00,Debit,Oklahoma City,D000579,117.67.192.211,M054,ATM,18,Student,172,1,781.68,2024-11-04 08:06:00+00:00
1,TX000413,AC00421,242.39,2023-11-20 16:29:00+00:00,Credit,San Antonio,D000451,26.105.49.129,M008,ATM,18,Student,271,1,1328.73,2024-11-04 08:06:00+00:00
2,TX000899,AC00083,1531.31,2023-10-23 18:00:00+00:00,Debit,San Diego,D000319,91.204.200.167,M078,Online,18,Student,62,4,859.86,2024-11-04 08:06:00+00:00
3,TX002004,AC00388,248.76,2023-05-24 16:12:00+00:00,Debit,Denver,D000334,80.75.92.66,M091,ATM,18,Student,56,1,546.46,2024-11-04 08:06:00+00:00
4,TX002102,AC00374,51.20,2023-03-13 18:45:00+00:00,Debit,Tucson,D000105,21.97.154.92,M066,Online,18,Student,83,1,730.60,2024-11-04 08:06:00+00:00

In [5]:
%%bigquery --use_rest_api --project customer-transaction-analysis
SELECT 
  COUNT(*) AS total_rows,
  COUNTIF(TransactionID IS NULL) AS null_transaction_id,
  COUNTIF(TransactionAmount IS NULL) AS null_amount,
  
FROM customer-transaction-analysis.customer_data.transactions;

Query is running:   0%|          |

Downloading:   0%|          |

   total_rows  null_transaction_id  null_amount
0        2512                    0            0